div {
    width: 280px;
    height: 280px;
    background: url('usertesting.jpg') center no-repeat;
      background-size: cover;
      clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
      animation: clips 3s ease infinite;
    }
    
    @keyframes clips {
      50% {
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%)
      }
    }
    
    /* Center the demo */
    html, body { height: 100%; }
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    body {
      background-color: #333;
    }
    View Compiled
    
    
    Resources